.button {
  min-width: 200px;
  width: fit-content;
  text-align: center;
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}

.button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .button {
    min-width: 135px;
  }
}

@media screen and (max-width: 260px) {
  .button {
    font-size: 8px;
    min-width: 80px;
  }
}
